<div class="page-title">
  <div class="tabs">
    <a routerLink="/countries" routerLinkActive="active-tab">Страны</a>
    <a routerLink="/cities" routerLinkActive="active-tab">Города</a>
  </div>
  <span class="span"></span>
</div>

<div class="container">
<div class="filter-bar">
   <!-- <mat-form-field appearance="fill">
      <mat-select [(value)]="selectedCountry" (selectionChange)="onCountryChange()">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    -->
  <tui-combo-box [formControl]="formControl">
    Country
    <ng-container *tuiDataList>
      <!--48 = 44 height + 4 margin-->
      <!--8 = data list padding-->
      <cdk-virtual-scroll-viewport
        *tuiLet="countries | tuiFilterByInput as items"
        appendOnly
        tuiScrollable
        class="scroll"
        [itemSize]="48"
        [style.height.px]="items.length * 48 + 8"
        (indexChange)="list.handleFocusLossIfNecessary()"
      >
        <tui-data-list #list>
          <button
            *cdkVirtualFor="let country of countries"
            tuiOption
            type="button"
            [value]="country"
          >
            {{ country.name }}
          </button>
        </tui-data-list>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </tui-combo-box>
</div>
  <div class="search-container">
<!--    <mat-icon class="search-icon">search</mat-icon>-->
<!--    <input class="search-input" matInput [formControl]="searchControl" [disabled]="isLoading" placeholder="Поиск">-->
    <!-- Поисковое поле -->
    <tui-input [formControl]="searchControl" class="search-input" [disabled]="isLoading"
               placeholder="Поиск">
      поиск
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
  </div>
</div>
<!--
<div class="table-wrapper" [class.loading]="isLoading">
  <table mat-table [dataSource]="filteredCities">
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Страна</th>
      <td mat-cell *matCellDef="let city">{{ city.country }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Город</th>
      <td mat-cell *matCellDef="let city">{{ city.name }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Регион</th>
      <td mat-cell *matCellDef="let city">{{ city.region }}</td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef>Население</th>
      <td mat-cell *matCellDef="let city">
        <div class="city-info">
          <span>{{ city.population }}</span>
          <div class="icons">
            <img src="/assets/imgs/edit.svg" alt="icon" class="icon">
            <img src="/assets/imgs/eye.svg" alt="icon" class="icon" (click)="openViewDialog(city)">
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  @if(isLoading){
  <div class="loader-overlay">
    <mat-spinner></mat-spinner>
  </div>
  }

  @if(!isLoading && filteredCities.length === 0){
  <div class="no-data">
    Ничего не найдено по запросу
  </div>
  }
</div>
-->
<div class="table-wrapper" [class.loading]="isLoading">
  <table tuiTable class="table">
    <thead>
    <tr>
      <th tuiTh>Страна</th>
      <th tuiTh>Город</th>
      <th tuiTh>Регион</th>
      <th tuiTh>Население</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let city of filteredCities">
      <td tuiTd>
          {{ city.country}}
      </td>
      <td tuiTd>
        {{ city.region}}
      </td>
      <td tuiTd>
        {{ city.region}}
      </td>
      <td tuiTd>

          {{ city.population}}
        <div class="icons">
          <img src="/assets/imgs/edit.svg" alt="icon" class="icon">
          <img src="/assets/imgs/eye.svg" alt="icon" class="icon" (click)="openViewDialog(city)">
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Прелоадер -->
  <div *ngIf="isLoading" class="loader-overlay">
    <tui-loader></tui-loader>
  </div>

  <!-- Нет данных -->
  <div *ngIf="!isLoading && filteredCities.length === 0" class="no-data">
    Ничего не найдено по запросу
  </div>
</div>

<!-- Пагинация -->
<!--<mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"-->
<!--  [disabled]="isLoading"></mat-paginator>-->
<tui-pagination [length]="totalItems" [index]="pageIndex"  ></tui-pagination>
-------------
<div class="page-title">
  <div class="tabs">
    <a routerLink="/countries" routerLinkActive="active-tab">Страны</a>
    <a routerLink="/cities" routerLinkActive="active-tab">Города</a>
  </div>
  <span class="span"></span>
</div>

<div class="container">
  <div class="filter-bar">
    <tui-combo-box [formControl]="formControl">
      Country
      <ng-container *tuiDataList>
        <cdk-virtual-scroll-viewport *tuiLet="countries | tuiFilterByInput as items" appendOnly tuiScrollable
          class="scroll" [itemSize]="48" [style.height.px]="items.length * 48 + 8"
          (indexChange)="list.handleFocusLossIfNecessary()">
          <tui-data-list #list>
            <button *cdkVirtualFor="let country of countries" tuiOption type="button" [value]="country">
              {{ country.name }}
            </button>
          </tui-data-list>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </tui-combo-box>
  </div>
  <div class="search-container">

    <tui-input [formControl]="searchControl" class="search-input" [disabled]="isLoading" placeholder="Поиск">
      поиск
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
  </div>
</div>

<div class="table-wrapper" [class.loading]="isLoading">
  <table tuiTable class="table">
    <thead>
      <tr>
        <th tuiTh>Страна</th>
        <th tuiTh>Город</th>
        <th tuiTh>Регион</th>
        <th tuiTh>Население</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of filteredCities">
        <td tuiTd>
          {{ city.country}}
        </td>
        <td tuiTd>
          {{ city.region}}
        </td>
        <td tuiTd>
          {{ city.region}}
        </td>
        <td tuiTd>

          {{ city.population}}
          <div class="icons">
            <img src="/assets/imgs/edit.svg" alt="icon" class="icon">
            <img src="/assets/imgs/eye.svg" alt="icon" class="icon" (click)="openViewDialog(city)">
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Прелоадер -->
  <div *ngIf="isLoading" class="loader-overlay">
    <tui-loader></tui-loader>
  </div>

  <!-- Нет данных -->
  <div *ngIf="!isLoading && filteredCities.length === 0" class="no-data">
    Ничего не найдено по запросу
  </div>
</div>

<tui-pagination [length]="totalItems" [index]="pageIndex"></tui-pagination>