<h2 mat-dialog-title>Информация о городе</h2>
<mat-dialog-content>
<div *ngIf="cityDetails" class="city-details">
    <p><strong>Страна:</strong> {{ cityDetails.country }}</p>
    <p><strong>Город:</strong> {{ cityDetails.city }}</p>
    <p><strong>Население:</strong> {{ cityDetails.population }}</p>
    <p><strong>Регион:</strong> {{ cityDetails.region }}</p>
    <p><strong>Широта:</strong> {{ cityDetails.latitude }}</p>
    <p><strong>Долгота:</strong> {{ cityDetails.longitude }}</p>
</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="custom-close-btn" (click)="closeDialog()">Закрыть</button>
</mat-dialog-actions> 