.mat-mdc-header-cell {
border-top: 1px solid #E0E0E0;
} 

.id-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.icon {
  height: 16px; 
  width: 16px; 
   cursor: pointer; 
}

.tabs {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.tabs a {
  text-decoration: none;
  font-size: 15px;
  color: #949494;
  padding: 8px 16px;
  position: relative;
}

.tabs a.active-tab {
  color: #191C30;
}

.tabs a.active-tab::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #191C30;
  position: absolute;
  bottom: -2px;
  left: 0;
}
