<div class="page-title">
  <div class="tabs">
    <a routerLink="/countries" routerLinkActive="active-tab">Страны</a>
    <a routerLink="/cities" routerLinkActive="active-tab">Города</a>
  </div>
  <span class="span"></span>
</div>

<div class="search-container">
  <tui-input [formControl]="searchControl" class="search-input" [disabled]="isLoading"
    placeholder="Поиск">
    поиск
    <input tuiTextfieldLegacy type="text" />
  </tui-input>
</div>

<div class="table-wrapper" [class.loading]="isLoading">
  <table tuiTable class="table">
    <thead>
      <tr>
        <th tuiTh>ID страны</th>
        <th tuiTh>Наименование</th>
        <th tuiTh>Код страны</th>
        <th tuiTh>Код валют</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let country of countries">

      <td tuiTd>
         <div class="id-container">
        {{ country['wikiDataId'] }}
        <img src="/assets/imgs/icon-16.svg" alt="icon" class="icon" (click)="goToCities(country)">
      </div>
      </td>

      <td tuiTd>{{ country.name }}</td>
      <td tuiTd>{{ country.code }}</td>
      <td tuiTd>{{ country['currencyCodes']?.join(', ') }}</td>
    </tr>
  </tbody>
  </table>

  <!-- Прелоадер -->
  <div *ngIf="isLoading" class="loader-overlay">
    <tui-loader></tui-loader>
  </div>

  <div *ngIf="!isLoading && countries.length === 0" class="no-data">
    Ничего не найдено по запросу
  </div>
</div>

<tui-pagination [length]="totalItems" [index]="pageIndex" (indexChange)="onPageEvent($event)">
</tui-pagination>
